<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title Contact page
    body
      nav
        ul
           li 
            a(href="/") Home
           li 
            a(href="/services") Our Services
           li
            a(href="/contact") Contact us
    image.mg(src="Assets/contactus.svg")
    h1 Contact Us
    p.cnt Gmail: library@gmail.com
    p.cnt Mobile: +4900000000000
    p.cnt Address: road aaaaaa,33333