<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title Services page
    body
      nav
        ul
           li 
            a(href="/") Home
           li 
            a(href="/services") Our Services
           li
            a(href="/contact") Contact us
    h2 Good services
    p  Lorem ipsum dolor sit amet consectetur adipisicing elit. maiores et, 
    p   Esse nihil alias sed dolorum. Excepturi quos vitae nemo voluptates
    image.imge(src="Assets/booklover.svg"